VITE_SITE_URL=https://sobotkiweddings.pl
BREVO_API_KEY=your_brevo_api_key_here
BREVO_LIST_ID_WEDDINGS=4
BREVO_LIST_ID_PORTRAITS_WEDDING=5
BREVO_LIST_ID_PORTRAITS_BOOTH=6
BREVO_NOTIFY_TO_EMAIL=kontakt.sobotki@gmail.com
BREVO_NOTIFY_FROM_EMAIL=kontakt@sobotkiweddings.pl
BREVO_NOTIFY_FROM_NAME=Sobotki Weddings
